<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tasktatsic Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<link rel= "stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>

	<stript type= "text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></stript>


// JQuery Reference, If you have added jQuery reference in your master page then ignore, 
// else include this too with the below reference

<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

	<script type="text/javascript">
	$(document).ready(function(){
		$('#example').DataTable();
	});
	</script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar navbar-inverse">
 <h1 class="display-3"><font color="white">TaskTastic DashBoard</font></h1>
  
    <span class="navbar-toggler-icon"></span>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="http://127.0.0.1:5000">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Profile</a>
      <a class="nav-item nav-link" href="http://127.0.0.1:5000/logout">Log Out</a>
    </div>
  </div>
</nav>


	<form action="/log/{{current_user.id}}" method="post">

						<input type="text" name="description" placeholder="Description" />
						<input type="text" name="category" placeholder="Category" />
						<input type="text" name="due" placeholder="Due Date" />
						<input type="text" name="notes" placeholder="Notes" />
						<input type="text" name="priority" placeholder="Priority" />
						<input type="checkbox" name="vehicle" value="Bike"/> Remind with Email 
						<input class="btn btn-primary" type="submit" value="submit">
	</form>
		
		<div>

		

			<table id="example">
				<thead>
						<tr>
								
								<th>Description</th>
								<th>Category</th>
								<th>Due Date</th>
								<th>Notes</th>
								<th>Email reminder</th>
								<th>Priority</th>
								<th>Sub-Tasks</th>
								<th>Delete</th>
								<th>Edit</th>
						</tr>
				</thead>
				<tbody>
						{% for task in tasklist %}
						<tr>
							
							<td id="{{ task.id }}">{{ task.description}} </td>
							<td id="{{ task.id }}">{{ task.category }}</td>
							<td id="{{ task.id }}">{{ task.due }}</td>
							<td id="{{ task.id }}">{{ task.notes }}</td>
							<td id="{{ task.id }}">{{ task.remind}}</td>
							<td id="{{ task.id }}">{{ task.priority}}</td>

							<td id="{{ task.id }}"><a class="btn" href="/api/subs/{{ task.id }}">Subtasks</td>

							<td id="{{ task.id }}"><a class="btn btn-danger" href="/api/delete/{{ task.id }}">Delete</td>
							<td id="{{ task.id }}"><a class="btn btn-danger" href="/api/edit/{{ task.id }}">Edit</td>
							
						</tr>
						{% endfor %}
				</tbody>
		</table>

		</div>



 </div>

 
</body>
</html>